body {
  background-color: #090a10;
  font-family: 'Orbitron', sans-serif;
  color: whitesmoke;
  overflow:hidden
}

#game-app{
  display: none;
  margin: 0 auto;
}


#start-screen, #game-over, #victory {
  text-align: center;
  margin: 160px;
}

h1 {
  font-size: 4em;
  letter-spacing: 0.1em;
}

#game-over, #victory {
  display: none;
}

button {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: #090a10;
  padding: 16px 32px;
  border: 1px solid whitesmoke;
}

small {
  display: block;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
}